<p id="notice"><%= notice %></p>

<% unless @friend.photo_url.nil? %>
  <p><%= image_tag @friend.photo_url %></p>
<% end %>

<p>
  <strong>Full name:</strong>
  <%= @friend.full_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @friend.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @friend.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @friend.website %>
</p>

<p>
  <strong>Level:</strong>
  <%= @friend.level %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
